.DS_Store
*.esproj
~*
_~*.scss
node_modules/
bower_components/
.bower_components/
.sass-cache/
uploads/
assets/css/
assets/flash/
assets/fonts/
assets/js/
assets/lib/
assets/html/
assets/src/js/vendor/
